.header{
    height: var(--header-height);
    background-image: linear-gradient(to bottom, #F43D2C, #FD6433);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar__list{
    list-style: none;
    /* padding-top: 8px; */
    height: 34px;
    display: flex;
    align-items: center;
}

.header__navbar__item{
    position: relative;
    user-select: none;
}

.header__navbar__user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar__user:hover .user-list{
    display: block;
}

.header__navbar__user__avatar{
    padding-top: 4px;
}

.header__navbar__user__infor{
    padding-left: 3px;
}

.header__navbar__user__img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar__user__name{

}

.user-list{
    position: absolute;
    top: 130%;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    display: none;
    animation: growth ease-in 0.2s;
    transform-origin:calc(100% - 20px) top;
}

.user-list::before{
    content: "";
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    border-style: solid;
    top: -30px;
    right: 5px;
}

.user-item{
    padding: 12px 16px;
    border-radius: 2px;
}

.user-item:hover{
    background-color: #f7f7f7;
}

.user-item-name{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.user-separate{
    border-top: 1px solid rgba(0, 0, 0, 0.03);
}

.header__navbar__item,
.header__navbar__item__icon{
    margin: 0 8px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__navbar__item:hover,
.header__navbar__item__icon:hover,
.header__navbar__item:hover .header__navbar__item__icon__notify
{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.header__navbar__item:hover .notify_notice{
    background-color: rgba(255, 255, 255, 0.5);
}



.header__navbar__item--strong{
    font-weight: 500;
}

.header__navbar__item__icon{
    margin: 0 2px;
    color: var(--white-color);
    position: relative;
}

.item__icon-fix{
    margin-right: 5px;
}

.notify_notice{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1rem;
    border-radius: 40%;
    padding: 0px 4px;
    line-height: 1.2rem;
    border: 2px solid #EE4D2D;
    top: -8px;
    left: 3px;
}

.header__navbar__item--separate::after{
    position: absolute;
    content: "";
    display: block;
    border-left: 0.25px solid #FD9386;
    border-right: 0.25px solid #FD9386;
    height: 12px;
    width: 0.5px;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
    background-color: #FD9386;
    user-select: none;
}

.header__navbar__item__none-hover{
    cursor: default;
    color: var(--white-color);
}

/* header qr css*/
.header-qr{
    background-color: var(--white-color);
    width: 160px;
    position: absolute;
    left: 0;
    top: 200%;
    border-radius: 2px;
    padding: 4px;
    display: none;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    cursor: default;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header-qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 160px;
    height:25px;
    top: -20px;
    left: 0;
}

.header__navbar__has-qr:hover .header-qr{
    display: block;
}

.header_qr-link :nth-child(1){
    margin-left: 10px;
}

.header_qr-link :nth-child(2){
    margin-right: 10px;
}

.header-qr__img{
    width: 100%;
}

.header_qr__app{
    display: flex;
    justify-content: space-between;
}

.header-qr__app__img{
    height: 15px;
}

/* notification header */
.header__notify{
    position: absolute;
    width: 404px;
    top: 200%;
    right: 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    background-color: var(--white-color);
    transform-origin:calc(100% - 32px) top;
    animation: growth ease-in 0.2s;
    -webkit-animation: growth ease-in 0.2s;
    -moz-animation: growth ease-in 0.2s;
    -ms-zoom-animation: growth ease-in 0.2s;
    -o-animation: growth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before{
    content: "";
    display: block;
    width: 404px;
    height: 20px;
    position: absolute;
    top: -18px;
}



.header__navbar__item:hover .header__notify__link{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.header__notify::after{
    content:"";
    display: block;
    border-style: solid;
    position: absolute;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 0;
}

.header__notify__header{
    background-color: var(--white-color);
    font-weight: 400;
    color: #666;
    font-size: 1.4rem;
    opacity: 0.6;
    line-height: 40px;
    margin: 0 0 0 12px;
    cursor: default;
    user-select: none;
}

.header__notify__list{

}

.header__notify__item{

}

.header__notify__item:hover,
.header__notify-footer{
    background-color: #f7f7f7;
}

.header__notify__item--see{
    background-color: rgba(245,61,44,0.08);
}

.header__notify__link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify__link:hover{
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    color: #333;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.header__notify-desc{
    color: #666;
    font-size: 1.3rem;
}

.header__notify-footer{
    background-color: rgba(247, 247, 247, 0.5);
    text-align: center;
    margin-bottom: 0;
    border: none;
}

.header__notify-footer-btn{
    line-height: 3;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    padding: 13px 170px;
}

.header__navbar__item--hover:hover .header__notify{
    display: block;
}

/* auth form */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__heading{
    display: flex;
    line-height: 64px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__header{
    font-size: 2rem;
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__group{
    margin-top: 16px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    opacity: 0.7;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888 ;
}

.auth-form_aside{
    margin-top: 24px;
}

.auth-form__policy-text{
    line-height: 1.6rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: right;
    margin-bottom: 12px;
} 

.auth-form__control--back{
    margin-right: 12px;
}

.auth-form__social{
    background-color: #F5F5F5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
}

.btn.btn--with-icon{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.auth-form__social-icon{
    font-size: 1.8rem;
}

.btn.auth-form__social--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}


.auth-form__social--google{
    background-color: var(--white-color);
    color: var(--white-color);
    font-weight: 470;
}

.auth-form__social__title{
    margin: 0 30px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-form__help-link:first-child{
    color: var(--primary-color);
}

.auth-form__help-link:last-child{
    color: rgba(125, 116, 116, 0.915);
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 15px;
    margin: 0 16px;
}

/* header search */
.header__search{
    height: var(--header-search-height);
    display: flex;
    align-items: center;
}

.search__logo{
    width: 202px;
    margin-bottom: 5px;
}

.logo__link{
    padding-left: 8px;
    color: transparent;
    text-decoration: none;
}

.logo__img{
    fill: var(--white-color);
    width: 146px;
}

.search__bar{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.search__bar__input-wrap{
    flex: 1;
    position: relative;
}

.search__bar__input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 1.3rem;
    color: var(--text-color);
    border-radius: 2px;
    user-select: none;
}

.search__bar__input:focus ~ .search__bar-history{
    display: block;
    z-index: 1;
}

.search_bar__selection{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    text-align: center;
    padding-right: 10px;
    position: relative;
    user-select: none;
    width: 121px;
}

.search_bar__selection:hover .header__search__option{
    display: block;
}

.search_bar__selection__label{
    font-size: 1.2rem;
    line-height: 24px;
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 10px;
    cursor: pointer;
}

.header__search__option{
    position: absolute;
    right: 0;
    top: calc(170% - 3px);
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: 1;
    width: 130px;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    display: none;
    user-select: none;
}

.header__search__option::before{
    content: "";
    display: block;
    width: 110px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -20px;
}

.header__search__option__item{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 36px;
    color: var(--text-color);
    text-align: left;
    padding-left: 24px;
    cursor: pointer;
    animation: fadeIn ease-in 0.1s;
}

.header__search__option__item:hover{
    background-color: #F5F5F5;
}

.mgright-13{
    margin-right: 13px;
}

.header__search__option-icon{
    margin-left: 8px;
    color: var(--primary-color);
}

.search__bar__search{
    background-color: var(--primary-color);
    width: 70px;
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    user-select: none;
}

.search__bar__search:hover{
    cursor: pointer;
    opacity: 0.8;
}

.search__bar-history{
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 6px);
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    border-radius: 2px;
    width: calc(100% - 16px);
    font-size: 1.2rem;
    overflow: hidden;
    display: none;
}

.header__history{
    line-height: 40px;
    font-weight: 450;
    color: #999;
    user-select: none;
    padding: 0 12px;
}

.history__list{
    
}

.history__item{
    padding: 0 12px;
    text-decoration: none;
    color: var(--text-color);
    line-height: 36px;
    display: block;
}

.history__item:hover{
    background-color: #F5F5F5;
}

.search-icon{
    color: var(--white-color);
    font-size: 1.5rem;
}

.search-icon--invisible{
    opacity: 0;
}

.search__cart{
    margin: 0 56px;
    padding: 16px;
    text-align: center;
    user-select: none;
}

.cart__wrap{
    position: relative;
    padding: 4px;
}

.cart__wrap:hover .cart__list{
    display: block;
}

.cart__icon{
    margin-top: 4px;
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.cart_notice{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    border-radius: 40%;
    padding: 1px 5px;
    line-height: 1.2rem;
    border: 2px solid #EE4D2D;
    top: -7%;
    right: -6px;
}

.cart__list{
    position: absolute;
    top: calc(100% + 18px);
    right: -15px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    max-width: 410px;
    display: none;
    animation: growth ease-in 0.2s;
    transform-origin:calc(100% - 20px) top;
    -webkit-animation: growth ease-in 0.2s;
    -moz-animation: growth ease-in 0.2s;
    -ms-zoom-animation: growth ease-in 0.2s;
    -o-animation: growth ease-in 0.2s;
    z-index: 1;
}

.cart__list::after{
    content: "";
    position: absolute;
    right: 0px;
    top: -30px;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}

.cart__no-cart{
    padding: 20px 0;
}

.cart__no-cart .cart__no-cart__img,
.cart__no-cart .cart_no-cart__mess{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.cart__no-cart__img{
    width: 50%;
    display: none;
}

.cart_no-cart__mess{
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 0;
    font-weight: 400;
    user-select: none;
    display: none;
}

.cart__list__header{
    font-size: 1.3rem;
    color: #888;
    text-align: left;
    padding:10px 12px;
}

.cart__list__item{
    font-size: 1.3rem;
}

.cart_list-items{
    max-height: 50vh;
    overflow-y: auto;
    list-style: none;
}

.cart__list__item:hover{
    background-color: #F5F5F5;
}

.cart__list__item-body{
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.cart__list__item-link{
    display: flex;
    text-decoration: none;
    padding:10px 12px;
}

.cart__list__item-bimg{

}

.cart__list__item-img{
    width: 42px;
    border: 2px solid #F5F5F5;
}

.cart__list__item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;
    display: block;
    text-align: left;
    margin-right: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.cart__list__item-price{
    color: var(--primary-color);
}

.cart__list__item-price span{
    text-decoration: underline;
}

.cart__list__item__btn{
    max-width: 100px;
    border-radius: 2px;
    float: right;
    margin: 12px 35px;
}

.cart__list__item__btn-link{

}

/* container */
.container{
    padding-top: 16px;
    background-color: #F5F5F5;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
    padding-left: 8px;
}

.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 450;
    padding: 10px 10px;
    border-bottom: 1px solid #E9E9E9;
    user-select: none;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    list-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 17px;
}

.category-item{

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    position: absolute;
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    display: block;
    position: relative;
    right: 0;
    transition: right 0.1s linear;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

.sort-filter{
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 2px;
}

.sort-filter__label{
    font-size: 1.4rem;
    color: #555;
}

.btn{
    margin-left: 10px;
}

.price_select{
    margin-left: 10px;
    min-width: 200px;
    height: 34px;
    display: flex;
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price_select::after{
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 15px;
    top: 30px;
}

.price_select-list{
    position: absolute;
    list-style: none;
    top: 40px;
    background-color: var(--white-color);
    min-width: 200px;
    border-radius: 2px;
    font-size: 1.4rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    z-index: 1;
    display: none;
}

.price_select:hover .price_select-list{
    display: block;
}

.price_select-item{
    height: 34px;
    line-height: 34px;
    padding-left: 12px;
    user-select: none;
}

.price_select-item:hover{
    background-color: #F5F5F5;
    color: var(--primary-color);
}

.price_select-label{
    display: block;
    justify-items: left;
    flex: 1;
    padding-left: 12px;
    user-select: none;
}

.price_select-label-icon{
    display: block;
    justify-items: right;
    padding-right: 12px;
}

.page_number{
    margin-left: auto;
    margin-right: 16px;
    display: flex;
}

.page_number-number{
    font-size: 1.3rem;
    line-height: 34px;
    color: var(--text-color);
}

.page_number-control{
    display: flex;
    margin-right: -16px;
}

.page_number-number-current{
    color: var(--primary-color);
}

.page_number-control-left{
    margin-left: 20px;
    display: flex;
    height: 34px;
    width: 30px;
    background-color: var(--white-color);
    border: 0.1px solid #F5F5F5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page_number-control-right{
    display: flex;
    height: 34px;
    width: 30px;
    background-color: var(--white-color);
    border: 0.1px solid #F5F5F5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page_number-control-icon{
    color: var(--text-color);
}

.page_number-control-disable{
    background-color: #f9f9f9;
    cursor: default;
}

.page_number-control-disable .page_number-control-icon{
    color: #ccc;
}

.product-item{
    background-color: var(--white-color);
    margin-top: 16px;
    position: relative;
    border-radius: 2px;
    border: 1px solid var(--white-color);
    top: 0;
    transition: top 0.1s linear;
    text-decoration: none;
    display: block;
}

.product-item:hover{
    border: 1px solid var(--primary-color);
    top: -2px;
}

.product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-item-content{
    padding: 8px;
}

.product-item-name{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item-tag{
    margin-top: 4px;
    display: flex;
}

.product-item-tag-discount{
    display: flex;
    margin-right: 4px;
}

.a{
    height: 16px;
    width: 4px;
    color: rgb(246, 145, 19);
}

.a path{
    fill:rgb(246, 145, 19);
}

.product-item-tag-discount-infor{
    background-color: rgb(246, 145, 19);
    color: var(--white-color);
    font-size: 1rem;
}

.product-item-tag-shop{
    font-size: 1rem;
    color: #FF0020;
    border: 1px solid #FF0020;
    padding: 0px 2px;
    height: 16px;
    line-height: 14px;
}

.product-item-price{
    display: flex;
    margin-top: 8px;
    flex-wrap: no-wrap;
    align-items: center;
    height: 16px;
}

.product-item-price-prev{
    text-decoration: line-through;
    color: rgba(0,0,0,.54);
    margin-right: 5px;
    font-size: 1.1rem;
}

.product-item-price-prev::first-letter{
    text-decoration: underline;
}

.product-item-price-current{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.product-item-price-current::first-letter{
    text-decoration: underline;
}

.product-item-freeDelivery{
    margin-left: auto;
}

.product-item-freeDelivery svg{
    height: 16px;
    margin-top: 5px;
}

.product-item-footer{
    margin-top: 12px;
    display: flex;
    text-align: center;
    color: var(--text-color);
    font-size: 1.1rem;
}

.product-item-soldNumber{
    line-height: 16px;
    margin-top: 1px;
}

.product-item-rating{
    margin-right: 4px;
}

.product-item-rating-icon{
    font-size: 0.8rem;
    color: #D5D5D5;
}

.product-item-rating-icon-star-gold{
    color: var(--star-gold);
}

.product-item-favourite{
    position: absolute;
    top: 8px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1px 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product-item-favourite span{
    color: var(--white-color);
}

.product-item-favourite::after{
    position: absolute;
    content: "";
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
    left: 0;
    top: 18px;
}

.product-item-discountPercent{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255,216,68, 0.93);
    background-color: currentColor;
    font-size: 1rem; 
    text-align: center;
    padding: 2px 2px 1px 2px;
    font-weight: 500;
    line-height: 1.2rem;
    width: 29px;
}

.product-item-discountPercent .b{
    display: block;
    color: var(--primary-color);
}

.product-item-discountPercent .c{
    display: block;
    color: var(--white-color);
    font-weight: 500;
}

.product-item-discountPercent::after{
    content: "";
    position: absolute;
    top: 27px;
    right: 0;
    border-width: 0 14.5px 5px 14.5px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.pagination-margin{
    margin-top: 52px;
    margin-bottom: 60px;
}

/* footer */
footer{
    border-top: 4px solid var(--primary-color) ;
    background-color: #FBFBFB;
    margin-bottom: 40px;
}

.d{
    height: 138px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 40px;
    background-color: var(--white-color);
}

.footer-heading{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 550;
    user-select: none;
}

.footer-list{
    list-style: none;
}

.footer-item{
    margin-bottom: 8px;
}

.footer-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.1rem;
    opacity: 0.8;
}

.footer-item-link:hover{
    color: var(--primary-color);
}

.footer-list-down{
    display: flex;
    list-style: none;
}

.footer-list-app{
    list-style: none;
}

.footer-thanhtoan{
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.footer-thanhtoan div{
    background-color: var(--white-color);
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.footer-img-thanhtoan{
    width: 52px;
    display: block;
    padding: 3px;
}

.footer-item-link-icon{
    margin-right: 4px;
}

.footer-item-app-link{
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 2px;
}

.footer-list-down-item{
    margin-right: 8px;
}